<h3>Showing {{data.filter | titlecase}}</h3>
<div class="item-list">
  <div class="item"
       *ngFor="let item of list$ | async">
    <span>{{item.name}}</span>
    <mat-divider></mat-divider>
    <span>{{item.project || 'No Project'}}</span>
    <span>{{(item.dueDate | date: 'medium') || 'No Due Date'}}</span>
    <button mat-button
            *ngIf="!item.completed"
            (click)="markComplete(item)">
      <mat-icon>radio_button_unchecked</mat-icon>
    </button>
    <button mat-button
            *ngIf="item.completed"
            (click)="markIncomplete(item)">
      <mat-icon>radio_button_checked</mat-icon>
    </button>
  </div>
</div>
<button mat-button
        (click)="close()">Close</button>
